<%= form_for (@ch), :remote => true do |f| %>
  <% if @ch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ch.errors.count, "error") %> prohibited this ch from being saved:</h2>

      <ul>
      <% @ch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<hr>


<div id="all">
<%= render @chs%>
</div>